# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/Pods/
macos/Pods/
macos/Podfile.lock
android/.gradle/
android/app/build/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# IDEs
.idea/
.vscode/
*.iml

# Other
coverage/
*.log
*.tmp
*.swp
